/* Estilo geral */ 
QWidget {
    font-family: "Segoe UI";
    font-size: 12px;
    color: black;
    background-color: #f2f2f2;
    border-radius: 10px;
}

QLabel {
    font-size: 15px;
    font-weight: bold;
    color: #333;
}

QPushButton {
    background-color: #28a745;
    font-weight: bold;
    color: white;
    padding: 6px 10px;
    border-radius: 5px;
    border: 1px solid #919191
}

QPushButton:hover {
    background-color: #218838;
}

QPushButton:pressed {
    background-color: #1e7e34;
}

QCheckBox {
    font-size: 14px;
    font-weight: normal;
    color: black;
}

QComboBox, QLineEdit, QTextEdit, QDateEdit, QTimeEdit, QSpinBox {
    background-color: white;
    padding: 5px;
    border: 1px solid #919191;
    border-radius: 5px;
}

/* Estilo específico para o botão de copiar */
QPushButton#btn_copiar {
    background-color: #007bff;
}

QPushButton#btn_copiar:hover {
    background-color: #0056b3;
}

QPushButton#btn_copiar:pressed {
    background-color: #004085;
}

/* Sidebar */
#sidebar {
    background-color: #2C3E50;
}

QPushButton#btn_sidebar {
    font-size: 25px;
    background-color: #898989;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

QPushButton#btn_sidebar:hover {
    background-color: #6c757d;
}

QPushButton#btn_sidebar:pressed {
    background-color: #5a6268;
}

/* Esconder botões de dropdown */ 
QTimeEdit::up-button, QTimeEdit::down-button, QSpinBox::up-button, QSpinBox::down-button {
    width: 0;
    height: 0;
    border: none;
}

QComboBox::drop-down {
    width: 0;
    height: 0;
    border: none;
}

#main_container {
    background-color: #2C3E50;
    padding: 20px;
    border-radius: 0px;
}   

/* Estilo para o QCheckBox */
QCheckBox::indicator {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    width: 14px;
    height: 14px;
}

QCheckBox::indicator:checked {
    background-color: #3498db;
}